@charset "utf-8";
#drop_zone {
    border:2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb
}

.sample {
    padding: 10px;
    border: 1px solid #ccc;
}
