@charset "utf-8";

html {
    font-family: "Avenir Next", "游ゴシック体", "Yu Gothic", YuGothic, "Meiryo","メイリオ", sans-serif;;
    color: #424647;
    background-color: #fefefe;
}

.content {
    width: 90%;
    max-width: 1350px;
    overflow-x: hidden;
    margin: 0 auto 40px;
    position: relative;
    background: linear-gradient(#8f5314, #000 1000px);
}

.main {
    background-color: #fefefe;
    padding: 45px 40px 30px;
    clear: both;
    margin: 20px 20px 20px 20px;
    position: relative;
}

#drop_zone {
    border:2px dashed #bbb;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    color: #bbb
}
